// FAMILIA
$yellow: #e8b41a;
$yellow-dark: #b39608;
$red: #db0b50;
$bordo: #851633;
$bordo-light: #d2b2c3;
$green: #7bb507;
$green-light: rgba($green, 50%);
$grey: #d1d3d4;
$vintage-green: #6cbb9d;
$brown: #7b2d08;

// GABY
$red-gaby: #e13434;
$dark: #1f1517;

// FITA
$grey-fita: #808285;
$pink-fita: #eb6aa8;

// FAMILY
$color-primary: $vintage-green;
$color-primary-2: $vintage-green;
$color-secondary: $brown;
$color-third: rgba($brown, 0.5);
$disabled: $grey;

// FLOR
$purple-flor: #604ce0;
$pink-flor: #f6abc5;

// CASA
$red-barcelona: #da0031;
$blue-barcelona: #004e97;
$yellow-barcelona: #eebc01;
