@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

// FAMILIA
$yellow: #e8b41a;
$yellow-dark: #b39608;
$bordo: #851633;
$bordo-light: #d2b2c3;
$green: #7bb507;
$green-light: rgba($green, 50%);
$grey: #d1d3d4;
$vintage-green: #6cbb9d;
$brown: #7b2d08;

// GABY
$red-gaby: #e13434;
$dark: #1f1517;

// FITA
$grey-fita: #808285;
$pink-fita: #eb6aa8;

// FAMILY
$color-primary: $vintage-green;
$color-primary-2: $vintage-green;
$color-secondary: $brown;
$color-third: rgba($brown, 0.5);
$disabled: $grey;

// FLOR
$purple-flor: #604ce0;
$pink-flor: #f6abc5;

// CASA
$red-barcelona: #da0031;
$blue-barcelona: #004e97;
$yellow-barcelona: #eebc01;

.calendar {
  background: #fff;
  font-family: "Open Sans", sans-serif;

  .month {
    &__top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__name {
      font-size: 38px;
      line-height: 40px;
      font-weight: 600;
      color: $color-secondary;
    }
    &__notes {
      flex-basis: 50%;
      span {
        &.label {
          font-size: 20px;
          font-weight: 600;
          color: $color-secondary;
          display: inline-block;
        }
        &.line {
          border-bottom: 2px solid $color-primary;
          width: 100%;
          display: block;
          margin-top: 20px;
          &.line-1 {
            margin-top: 22px;
            width: calc(100% - 70px);
            float: right;
          }
        }
      }
    }
    &__week {
      display: flex;
      flex-wrap: nowrap;
      &__day {
        flex-grow: calc(100% / 7);
        flex-basis: calc(100% / 7);
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;
        color: $color-secondary;
        font-size: 16px;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      height: 80vh;
      border-width: 3px 0 0 3px;
      border-style: dashed;
      border-color: $color-primary-2;
      .day {
        box-sizing: border-box;
        border-width: 0 3px 3px 0;
        border-style: dashed;
        border-color: $color-primary-2;
        height: 100%;
        background-color: white;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        &.cumple {
          background-image: url("./bgCumple.png");
          background-position: bottom right;
          background-repeat: no-repeat;
          background-color: rgba($color-primary, 0.5);
          .day {
            &__number,
            &__cumple {
              font-weight: 700;
              color: $color-secondary;
            }
            &__cumple {
              font-size: 16px;
            }
          }
        }
        &.feriado {
          background-color: $color-third;
          .day__number {
            color: white;
          }
        }
        &.disabled {
          background-color: $grey;
        }
        &.overflow-day {
          margin-top: -66px;
          margin-bottom: -20px;
          padding-bottom: 55px;
          border-width: 3px 0 0 0;
          width: calc(100% - 4px);
        }
        &__number {
          font-size: 16px;
          font-weight: 600;
          color: $color-secondary;
        }
      }
    }
  }
  &.gaby {
    .month {
      &__name {
        color: $red-gaby;
      }
      &__notes {
        span {
          &.label {
            color: $red-gaby;
          }
          &.line {
            border-color: $blue-barcelona;
          }
        }
      }
      &__week {
        &__day {
          color: $red-gaby;
        }
      }
      &__grid {
        border-color: $blue-barcelona;
        .day {
          border-color: $blue-barcelona;
          position: relative;
          &:not(.disabled) {
            &:before {
              content: "$";
              font-size: 16px;
              width: 100%;
              color: rgba($blue-barcelona, 0.7);
              border-style: dashed;
              border-width: 0 0 3px 0;
              border-color: rgba($blue-barcelona, 0.7);
              display: block;
              position: absolute;
              height: 30px;
              margin: 0 -8px;
              text-align: right;
            }
          }
          &.feriado {
            background-color: rgba($red-gaby, 0.5);
            .day__number {
              color: $blue-barcelona;
            }
          }
          &.disabled {
            background-color: $grey;
          }
          &__number {
            color: darken($red-gaby, 10%);
          }
        }
      }
    }
  }
  &.fita {
    .month {
      &__name {
        color: $grey-fita;
      }
      &__notes {
        span {
          &.label {
            color: $grey-fita;
          }
          &.line {
            border-color: $pink-fita;
          }
        }
      }
      &__week {
        &__day {
          color: $grey-fita;
        }
      }
      &__grid {
        border-color: $pink-fita;
        .day {
          border-color: $pink-fita;
          position: relative;
          &.cumple {
            background-color: rgba($pink-fita, 0.3);
            .day {
              &__number,
              &__cumple {
                color: $pink-fita;
              }
            }
          }
          &.feriado {
            background-color: $pink-fita;
            .day__number {
              color: white;
            }
          }
          &.disabled {
            background-color: $grey;
          }
          &__number {
            color: $grey-fita;
          }
        }
      }
    }
    &.custom {
      .month {
        &__grid {
          height: calc(100% - 95px);
          .day {
            &__cumple,
            &__number {
              font-size: 9px;
            }
          }
        }
        &__week {
          &__day {
            font-size: 11px;
          }
        }
        &__name {
          font-size: 24px;
        }
        &__notes {
          span {
            &.label {
              font-size: 16px;
            }
            &.line {
              &.line-1 {
                width: calc(100% - 55px);
                margin-top: 18px;
              }
            }
          }
        }
      }
    }
  }
  &.grisel {
    .month {
      &__name {
        color: $bordo;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        max-width: none;
      }
      &__notes {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 60%;
        height: 40px;
        &__day {
          margin-left: 10px;
          color: rgba($dark, 0.8);
          flex: 0 0 auto;
          font-size: 8.5pt;
          span {
            font-weight: 600;
            color: darken($red-gaby, 20%);
          }
        }
      }
      &__week {
        &__day {
          color: $dark;
        }
      }
      &__grid {
        border-color: $dark;
        .day {
          border-color: $dark;
          position: relative;
          &.cumple {
            background-color: rgba($pink-fita, 0.3);
            .day {
              &__number,
              &__cumple {
                color: $pink-fita;
                font-size: 10pt;
              }
            }
          }
          &.clase {
            background-color: rgba($red-gaby, 0.7);
          }
          &.feriado {
            background-color: rgba($bordo, 0.3);
            .day__number {
              color: $dark;
            }
          }
          &.disabled {
            background-color: $grey;
          }
          &__number {
            color: $dark;
            font-weight: 700;
            margin-left: auto;
            font-size: 10pt;
          }
          &.overflow-day {
            margin-top: -46px;
            padding-bottom: 35px;
          }
        }
      }
    }
    .notes {
      font-size: 18pt;
      font-weight: 700;
      &__line {
        span {
          border-bottom: 1px solid white;
          padding-right: 5px;
          color: $bordo;
        }
        border-bottom: 1px solid rgba($dark, 0.3);
        width: 100%;
        display: block;
        margin-bottom: 5.5mm;
      }
    }
    &:not(.custom) {
      .month {
        &__notes {
          &__day {
            font-size: 16px;
          }
        }
        &__week {
          &__day {
            font-size: 22px;
          }
        }
        &__grid {
          .day {
            &__number,
            &__cumple {
              font-size: 20px;
            }
          }
        }
      }
    }
    &.custom {
      .month {
        &__grid {
          height: calc(100% - 86px);
        }
      }
    }
  }
  &.flor {
    .month {
      &__name {
        color: $pink-flor;
      }
      &__notes {
        span {
          &.label {
            color: $pink-flor;
          }
          &.line {
            border-color: $purple-flor;
          }
        }
      }
      &__week {
        &__day {
          color: $pink-flor;
        }
      }
      &__grid {
        border-color: $purple-flor;
        .day {
          border-color: $purple-flor;
          position: relative;
          &.cumple {
            background-image: url("./bgUnicorn.png");
            background-color: rgba($pink-flor, 0.3);
            .day {
              &__number,
              &__cumple {
                color: $purple-flor;
              }
            }
            &.love {
              background-image: url("./bgHearts.png");
              background-color: rgba(#db0b50, 0.4);
              .day {
                &__number,
                &__cumple {
                  color: white;
                }
              }
            }
          }
          &.feriado {
            background-color: rgba($purple-flor, 0.5);
            .day__number {
              color: white;
            }
          }
          &.disabled {
            background-color: $grey;
          }
          &__number {
            color: $pink-flor;
          }
        }
      }
    }
  }
  &.casa {
    .month {
      &__name {
        color: $red-barcelona;
      }
      &__notes {
        span {
          &.label {
            color: $red-barcelona;
          }
          &.line {
            border-color: $blue-barcelona;
          }
        }
      }
      &__week {
        &__day {
          color: $red-barcelona;
        }
      }
      &__grid {
        border-color: $blue-barcelona;
        .day {
          border-color: $blue-barcelona;
          position: relative;
          &.cumple {
            background-color: rgba($yellow-barcelona, 0.3);
            .day {
              &__number,
              &__cumple {
                color: $blue-barcelona;
              }
            }
            &.love {
              background-image: url("./bgHearts.png");
              background-color: rgba(#db0b50, 0.4);
              .day {
                &__number,
                &__cumple {
                  color: white;
                }
              }
            }
          }
          &.feriado {
            background-color: rgba($red-barcelona, 0.5);
            .day {
              &__number,
              &__cumple {
                color: white;
              }
            }
          }
          &.disabled {
            background-color: $grey;
          }
          &__number {
            color: $red-barcelona;
          }
        }
      }
    }
  }
}

@page {
  size: A4 landscape;
}

@media print {
  .month {
    margin: 12mm 5mm 10mm 5mm;
    page-break-after: always;
  }
  .grisel.custom {
    .month,
    .notes {
      margin: 28.5mm 41mm;
      width: 205mm;
      height: 133mm;
    }
    .month {
      border: 1px solid rgba($dark, 0.7);
      padding: 17mm 5mm 3mm 5mm;
    }
    .notes {
      padding: 3mm 5mm 17mm 3mm;
    }
  }
  .fita.custom {
    .month {
      width: 134mm;
      height: 105mm;
      border: 1px solid rgba($dark, 0.7);
      padding: 10mm 3mm 3mm 3mm;
    }
  }
}
