@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "./variables";

.calendar {
  background: #fff;
  overflow: "scroll";
  font-family: "Open Sans", sans-serif;

  .month {
    &__top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__name {
      font-size: 38px;
      line-height: 40px;
      font-weight: 600;
    }
    &__notes {
      align-items: flex-end;
      justify-content: flex-end;
      text-align: end;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 60%;
      height: 40px;
      &__day {
        margin-left: 10px;
        flex: 0 0 auto;
        font-size: 8.5pt;
        span {
          font-weight: 600;
        }
      }
      span {
        &.label {
          font-size: 20px;
          font-weight: 600;
          display: inline-block;
          line-height: 18px;
        }
        &.line {
          border-bottom-width: 2px;
          border-bottom-style: solid;
          width: 100%;
          display: block;
          margin-top: 20px;
          &.line-1 {
            margin-top: 22px;
            width: calc(100% - 64px);
            float: right;
          }
        }
      }
    }
    &__week {
      display: flex;
      flex-wrap: nowrap;
      &__day {
        flex-grow: calc(100% / 7);
        flex-basis: calc(100% / 7);
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      height: 80vh;
      border-width: 3px 0 0 3px;
      border-style: dashed;
      position: relative;

      .day {
        box-sizing: border-box;
        border-width: 0 3px 3px 0;
        border-style: dashed;
        height: 100%;
        background-color: white;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 1;
        &__bg {
          opacity: 0.6;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }
        &.cumple {
          justify-content: space-between;
          background-position: bottom right;
          background-repeat: no-repeat;
          background-size: cover;
          .day {
            &__number,
            &__cumple {
              font-weight: 700;
            }
            &__cumple {
              font-size: 16px;
            }
          }
        }
        &.love {
          background-image: url("./src/assets/bgHearts.png") !important;
          background-color: rgba($red, 0.4);
          .day {
            &__number,
            &__cumple {
              color: white;
            }
          }
        }
        &.disabled {
          background-color: $grey;
          .day__number {
            color: rgba(black, 0.3) !important;
          }
        }
        &.overflow-day {
          border-top-width: 3px;
          width: calc(100% / 7);
          height: 10%;
          position: absolute;
          bottom: 0;
        }
        &__number {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  &.medium {
    .month {
      &__grid {
        height: calc(100% - 95px);
        .day {
          padding: 3pt;
          &.cumple {
            background-size: 70%;
            .day {
              &__number,
              &__cumple {
                font-size: 9pt;
              }
            }
          }
          &__number {
            font-weight: 700;
            margin-left: auto;
            font-size: 9pt;
          }
          &.overflow-day {
            margin-top: -32px;
            padding-bottom: 16px;
          }
        }
      }
      &__week {
        &__day {
          font-size: 11px;
        }
      }
      &__name {
        font-size: 24px;
      }
      &__notes {
        span {
          &.label {
            font-size: 16px;
          }
          &.line {
            &.line-1 {
              width: calc(100% - 55px);
              margin-top: 18px;
            }
          }
        }
      }
    }
  }
  &.agenda {
    .month {
      &__name {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        max-width: none;
      }
      &__notes {
        &__day {
          font-size: 8pt;
        }
      }
      &__grid {
        height: calc(100% - 86px);
        .day {
          &.cumple {
            background-size: 70%;
            .day {
              &__number,
              &__cumple {
                font-size: 9pt;
              }
            }
          }
          &__number {
            font-weight: 700;
            margin-left: auto;
            font-size: 9pt;
          }
          &.overflow-day {
            margin-top: -32px;
            padding-bottom: 21px;
          }
        }
      }
    }
    .notes {
      font-size: 18pt;
      font-weight: 700;
      &__line {
        span {
          border-bottom: 1px solid white;
          padding-right: 5px;
        }
        border-bottom: 1px solid rgba($dark, 0.3);
        width: 100%;
        display: block;
        margin-bottom: 5.5mm;
      }
    }
  }
}

@page {
  size: A4 landscape;
}

@media print {
  .month {
    margin: 12mm 5mm 10mm 5mm;
    page-break-after: always;
  }
  .agenda {
    .month,
    .notes {
      margin: 28.5mm 41mm;
      width: 210mm;
      height: 150mm;
    }
    .month {
      border: 1px solid rgba($dark, 0.7);
      padding: 17mm 5mm 3mm 5mm;
    }
    .notes {
      padding: 3mm 5mm 17mm 3mm;
    }
  }
  .medium {
    .month {
      width: 134mm;
      height: 105mm;
      border: 1px solid rgba($dark, 0.7);
      padding: 10mm 3mm 3mm 3mm;
    }
  }
}
